# Ejemplo de archivo de entorno para la configuración de la lista M3U y la IPFS URL
# Puede ser un enlace a un nodo IPFS o puede ser url directa a la lista M3U
# En caso de ser un nodo IPFS debe apuntar a http://ipfs:8080/ipns/<hash>/data/listas/lista_iptv.m3u
# donde ipfs es el nombre del servicio del contenedor IPFS definido en docker-compose.yml y <hash> es el identificador del contenido en IPFS.
# el resto de la ruta puede variar con respecto al origen de la lista, pero debe terminar en lista_iptv.m3u
URL=http://ipfs:8080/ipns/<hash>/data/listas/lista_iptv.m3u


# Dirección IP y puerto que será añadido a la lista personal, esto es para poder ser usada con servidores propios dentro de una red
# Por defecto acestream usa 127.0.0.1:6878 pero si corres otros servicios como acestream orchestrator se apunta al puerto 8000
# Esto depende de tu configuración de red y de los servicios que estés ejecutando.
REPLACE_TEXT=192.168.1.5:8000


# Texto que será buscado en la lista personal para ser reemplazado por REPLACE_TEXT, es el texto que se quiere sustituir.
SEARCH_TEXT=127.0.0.1:6878
